footer {
    display: flex;
    background: #000000;
    padding: 5px;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

